.dropdown {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.dropdown::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.copied-notigication {
  transition: top 0.3s ease-in-out;
}